*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
}

.contenedor-principal,.contenedor-secundario{
    margin: 2em;
}

.tbl-botones, .contenedor-tabla,.tbldiasAgenda{
    width: 100%;
}

.tbl-botones, .tbl-botones h1{
    font-size: 1.5em;
}
.tbl-botones{
    border: none;
}

#btns_izq{
    text-align: left;
}
#btns_der{
    text-align: right;
}
.cont_tblcuerpo{
    height: 30em;
    overflow: auto;
}
.cont_tblcabecera{
    overflow: hidden;
}

.filatbl, .filatbldia{
    height: 6em;
}
.celhoy{
    background-color: rgba(208,221,225,0.5);
}
.celda, .celcab {
    text-align: center;
    width: 13.5%;
}
.celda , .filatbl .celroom, .filasup,.filatbldia .celroom, .filasupdia , .celdadia{
    border: 1px solid #9FD2E5;
}

.celroom{
    width: 6em;
}
.calcabvac{
    width: 2em;
}

.celcabdia, .celdadia{
    width:94.5%;
    text-align: center;
}

.evento{
    margin: auto;
    opacity: 0.75;
    z-index: 30;
}

.cabevt, .txevt{
    font-size: 1em;
    color:  #000000;
/*
    text-shadow: 1px 1px #7F7F7F;
*/
}
.marcado {
    background-color: #EB9D9D;
}


