*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
}
/*
Tabla de botones
*/

#tit_tabla h1 {
    font-size: 2em;
}

.tbl-botones {
    width: 100%;
}

#btns_izq, #btns_der {
    width: 25%;
}

.calhotel{
    margin: 2em auto;
}

.cab-content {
    border: 1px solid #9FD2E5;
    display: block;
}
.cue-content{
    border: 1px solid #9FD2E5;
    height: 30em;
    display: block;
    overflow: auto;
}
.celda, .filatbl .celroom{
    border: 1px solid #9FD2E5;
    width: 10em;
    height: 8em;
}
.celcab{
    text-align: center;
    width: 10em;
}

.filatbl .celroom{
    width: 8em;
}

.filasup .celroom{
    width: 6.2em;
    font-size: 1em
}

.evento{
    height: 80%;
    width: 80%;
    margin: auto;
    z-index: 30;
}
