*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
}

.contenedor-principal,.contenedor-secundario{
    margin: 2em;
}

.tbl-botones, .contenedor-tabla,.tbldiasAgenda{
    width: 100%;
    border: 1px solid #9FD2E5; /*Cambiar luego*/
}

.tbl-botones, .tbl-botones h1{
    font-size: 1.5em;
}

.tbl-cuerpo{
    height: 30em;
    overflow: auto;  
}
.tbl-cabecera{
    overflow: hidden;
}

.filatbl{
    height: 10em;
}
.celda, .celcab {
    text-align: center;
    width: 13.5%;
}
.celda , .filatbl .celroom, .filasup{
    border: 1px solid #9FD2E5;
}

.celroom{
    width: 6em;
}
.calcabvac{
    width: 2em;
}
.evento{
    margin: auto;
    z-index: 30;
}
