
/*
Tabla de botones
*/

#tit_tabla h1 {

    font-size: 2em;

}

.tbl-botones {

    margin: 0 auto;

    width: 100%;

    text-align: center;

}

#btns_izq,

#btns_der {

    width: 25%;

}

/*contenedor de todo el calendario*/

.calhotel {

    margin: 25px;

}

/*Cabecera de la tabla*/

.cab-content {

    border: 1px solid #9FD2E5;

}

/*Cuerpo de la tabla*/

.cue-content {

    height: 460px;

    position: absolute;

    overflow: auto;

}

.filatbl .celroom {

    font-weight: normal;

}

/* Ancho alto de celdas normales y de cabecera*/

.celda,

.celcab {

    width: 180px;

    text-align: center;

}

/*Altura de celdas de la tabla*/

.celda,

.filatbl .celroom {

    height: 100px;

    border: 1px solid #9FD2E5;

}

/*Anchura de las celdas room*/

.celroom,

.filasup .celroom {

    width: 80px;

    text-align: left;

}
